<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="co.harley.push">
	<uses-sdk android:minSdkVersion="15" />
	<permission android:name="co.donuz.push.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="co.donuz.push.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="push">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="co.donuz.push" />
			</intent-filter>
		</receiver>
	</application>
</manifest>